# Titanic project: a first on kaggle

The following is the my first independent attempt at machine learning to find solutions to a problem, I have used packages such as pandas, sklearn and numpy to solve some of the problems.

In [1]:
from IPython.display import display, Markdown
import numpy as np
import pandas as pd
from sklearn.svm import SVC 
from sklearn.preprocessing import OneHotEncoder, StandardScaler

enc = OneHotEncoder(handle_unknown='ignore')
sts = StandardScaler()
df = pd.read_csv('c:/Users/Prakhar/Downloads/first-/train.csv')
feature_scale = ['Fare','Age']
df[feature_scale] = sts.fit_transform(df[feature_scale])
df.dropna()
#print(df['Sex'])
# the test data which is to be predicted
tes = pd.read_csv('C:/Users/Prakhar/Downloads/first-/test.csv')
tes[feature_scale] = sts.fit_transform(tes[feature_scale])
display(tes.head(5))
tes = tes.loc[:,['Pclass','Sex', 'Age','SibSp','Parch','Fare','Embarked']]
prede = tes.to_numpy()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,0.298549,0,0,330911,-0.497811,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,1.181328,1,0,363272,-0.512660,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,2.240662,0,0,240276,-0.464532,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,-0.231118,0,0,315154,-0.482888,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,-0.584229,1,1,3101298,-0.417971,NaN,S

### The above is the test data, notice that very less people survived in the incident, so dont be all confused if the output suggests everybody died, as we will see in the traning data.

In [2]:
display(df.head(5))

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,-0.530377,1,0,A/5 21171,-0.502445,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,0.571831,1,0,PC 17599,0.786845,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,-0.254825,0,0,STON/O2. 3101282,-0.488854,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,0.365167,1,0,113803,0.420730,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,0.365167,0,0,373450,-0.486337,NaN,S

#### The above is the training data, further code will reveal some interesting insights about the data.

#### Survival ratio is:

In [3]:
display(df.Survived.mean())

0.3838383838383838

#### The following provides detail regarding mean age, various embarked stations across all the passengers and the fare paid by all. 
An undocumented attempt has been comitted by me, in that project but I took less parameters.

In [4]:
display(df.Embarked.value_counts())

display(df.Fare.value_counts())

display(df.Age.mean())

S    644
C    168
Q     77
Name: Embarked, dtype: int64

-0.486337    43
-0.386671    42
-0.489442    38
-0.492378    34
-0.124920    31
             ..
-0.298078     1
-0.567631     1
-0.457478     1
-0.369305     1
-0.473586     1
Name: Fare, Length: 248, dtype: int64

2.388378943731429e-16

#### The following methods are used to clean the data and convert them into numeric types, this will make the data easily digestable by the algorithms in the sklearn package.

In [5]:
labels = tuple(df['Survived'])
# this the traning data label which will be used to train the algorithm.
#feature_matrix = []
trainy = np.array(labels)




# the relevant indexes for our ml purpose is pclass, sex , age , sibsp, parch, Fare, Embarked and
df = df.loc[:, ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch','Fare','Embarked']]
X = df.to_numpy()
#print(X)
index_letter = (X == 'S')
X[index_letter] = 1
index_letter = (X == 'C')
X[index_letter] = 2
index_letter = (X == 'Q')
X[index_letter] = 3
index_male = (X == 'male')
X[index_male] = 1
index_female = (X == 'female')
X[index_female] = 0
X = np.array(X, dtype=[('O', np.float)]).astype(np.float)
index_nan = np.isnan(X)
X[index_nan] = 2.388378943731429e-16
# Some preprocessing will be added to the data before training the algorithm.

display(X[:5])

array([[ 3.        ,  1.        , -0.53037664,  1.        ,  0.        ,
        -0.50244517,  1.        ],
       [ 1.        ,  0.        ,  0.57183099,  1.        ,  0.        ,
         0.78684529,  2.        ],
       [ 3.        ,  0.        , -0.25482473,  0.        ,  0.        ,
        -0.48885426,  1.        ],
       [ 1.        ,  0.        ,  0.36516706,  1.        ,  0.        ,
         0.42073024,  1.        ],
       [ 3.        ,  1.        ,  0.36516706,  0.        ,  0.        ,
        -0.48633742,  1.        ]])

#### In my previous attempts to the problem, I took only four parameters and it created a problem
> the first time I did this project the parameters I took were only gender, age, siblings and the parents of the passanger, but the result of the predictions suggested everybody died, so I incresed the parameters, i.e. added the fare and embarked point of the data, and now the results are inline with the 38 percent survival rate of the initial data.

In [6]:
the = SVC(C = 100, kernel='rbf')
index_letter = (prede == 'S')
prede[index_letter] = 1
index_letter = (prede == 'C')
prede[index_letter] = 2
index_letter = (prede == 'Q')
prede[index_letter] = 3
index_male = (prede == 'male')
prede[index_male] = 1
index_female = (prede == 'female')
prede[index_female] = 0
prede = np.array(prede, dtype=[('O', np.float)]).astype(np.float)
index_nan = np.isnan(prede)
prede[index_nan] = 2.388378943731429e-16
the.fit(X , trainy)

pred = the.predict(prede)

print(len(pred))

418

#### When you factor in the data regarding the fare paid by the customer, the station from which they embarked the picture becomes clearer regarding the prediction of the data, after this the results of the data will be summarised.

In [7]:
resu = pd.read_csv('C:/Users/Prakhar/Downloads/first-/gender_submission.csv')
resu.head(5)
resul = pd.DataFrame(data = np.transpose([np.array(range(418))+892, pred]), columns=['PassengerId','Survived'])
resul.head(5)
resul.to_csv('PREDICTIONSfinalpreprocessed.csv', index=False)
print(resul)

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

#### In a previous run of the algorithm, using SVC, I took less features(4) and the algorithm predicted that everybody died, after considering more features like the fare and their place of boarding the accuracy drastically increased
Some things I picked up from this project are:
> importance of taking more and more feature<br> preprocessing of the data is important so there is no unnecessary weight given to a following feature.

this has been a great learning experience so far.